#wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

//title text animation

$main_blue: #3784a8;
$title_blue: rgb(38, 74, 121);
$dark_blue: #2b4b63;
$deep_white: rgb(211, 211, 211);
$sidebar_blue: #3f5469;
$fullpage_color: rgba(255, 255, 255, 0.3);
//rwd 變數設定
$pc_media: 1800px;

$pad_media: 769px;
$mobile_media: 540px;

$pad_pro_media: 1100px;

$gray: #dddddd;
$white: #fff;
$black: #161616;
$card_btn: #00a7e1;

// rwd mixin
@mixin pc_width() {
    @media screen and (max-width: $pc_media) {
        @content;
    }
}

@mixin pc_width_second() {
    @media screen and (max-width: $pc_second_media) {
        @content;
    }
}

@mixin pad_width() {
    @media screen and (max-width: $pad_media) {
        @content;
    }
}

@mixin mobile_width() {
    @media screen and (max-width: $mobile_media) {
        @content;
    }
}

@mixin pad_pro_width() {
    @media screen and (max-width: $pad_pro_media) {
        @content;
    }
}

@mixin magnetic($timeing) {
    transition: all $timeing cubic-bezier(0.615, 0, 0.07, 1);
}

//繼承

%display_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%bgc {
    background-position: center center;
    background-size: cover;
    width: 100%;
}

%display_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%bgImg {
    width: 100%;
    background-position: center center;
    background-size: cover;
}

%fakeImg {
    background-color: #5290bb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

section.section_content {
    margin-top: 15vh;

    .container-fluid {


        .row {


            .col-md-12 {

                padding: 0 15vmin;

                .txt {
                    width: 100%;
                    padding: 0 15vmin;

                    h1 {
                        border: 1px solid #000;
                        font-size: 2rem;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 200;
                        position: relative;

                    }

                    .wrap {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;


                        p {
                            border: 1px solid #000;
                        }

                        .line {
                            border: 1px solid #000;

                            width: 10vmin;
                            height: 1.5px;
                            background-color: black;
                            color: black;
                        }
                    }
                }
            }
        }

        .top_bgc {

            background-position: center center;
            background-size: cover;
            width: 100%;
            height: 60vh;
            margin-right: 0;
            margin-top: 15vh;

            .col-md-12 {
                position: relative;
                padding: 0 15vmin;

                .square {
                    position: absolute;

                    top: -10vmin;
                    width: 50vmin;
                    height: 60vmin;
                    background-color: #fae558;

                    p {
                        color: rgb(43, 43, 43)
                    }

                    form {
                        width: 100%;
                        padding: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;

                        .form-group {
                            width: 100%;

                            label {
                                color: rgb(43, 43, 43);

                            }

                            input {
                                width: 100%;
                                background-color: transparent !important;
                                border: none;
                                color: 1px rgb(43, 43, 43) solid;
                                outline: none impor !important;
                                border-radius: 0px !important;
                                border-bottom: 1px #333 solid !important;

                                &::placeholder {
                                    color: rgba(43, 43, 43, 0.5)
                                }

                            }
                        }
                    }
                }
            }




        }
    }
}