@import "variables.scss";
@import "reset.scss";


section.section_download{
    padding: 10vmin 0;
    .container-fluid{
        padding: 0 10vmin;
        @include mobile_width{
            padding: 5vmin;
        }
        .row{
            .col-md-12{
              .download-wrap{
                  background-color: #f6f5fa;
                  border-radius: 15px;
                  padding: 2rem;
                  box-shadow: 0 25px 35px rgba(0,0,0,.3);
                  width: 100%;
                  height: 95vh;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  @include pad_pro_width{
                     flex-direction: column;

                  }
                  @include mobile_width{
                    padding: .5rem;

                 }
                  
              }
              .left{
                  background-color: #95ccdf;
                  border-radius: 15px;
                  height: 100%;
                  width: 30%;
                  
                  @include pad_pro_width{
                     width:100%;
                     
                  }

              }
              .right{
                  width: 70%;
                  height: 100%;
                  background-color: transparent;
                  padding: 0 5rem;
                  @include pad_pro_width{
                    width:100%;
                    
                 }
                 @include mobile_width{
                    padding: 0;
                    
                 }
                  .top{
                    p{
                        color: #333;
                    }
                  }
                  .bottom{
                      width:100%;
                      height: 70vh;
                      overflow-y: scroll !important;
                      overflow: hidden;
                      display: flex;
                      flex-wrap:wrap;
                      .file-wrap{
                          margin: 13px;
                          position: relative;
                          width: 285px;
                         
                          height: 450px;
                          background-color: #eeedf5;
                          border-radius: 15px;
                          @include mobile_width{
                              width: 385px;
                          }
                          a{
                              background:#1fb6fd;
                              color: white;
                              position: absolute;
                              bottom: 20px;;
                              left: 50%;
                              transform: translate(-50%);
                              width: 60%;
                              padding: .5rem 0;
                           
                              text-align: center;

                          } 
                          
                          .file-kind{
                              
                              display:flex;
                              align-items:center;
                              height: 25px;
                              line-height: 25px;
                              padding: 1rem;
                              padding-top:1.5rem;
                              padding-left: 1.5rem;
                              .icon{
                                  margin-right: 10px;
                              }
                          }
                      
                          
                 

                          .pic-wrap{
                              position: relative;
                             
                              border-radius:10px;
                              width:100%;
                              top: 6px;
                              &:hover .pic-01{
                               opacity: 0;
                               cursor: pointer;
                              
                             }
                              
                              img{
                                 width: 230px; 
                                 position: absolute;
                                 top:10px;
                                 left: 50%;
                                 transform: translate(-50%);
                                 transition: .3s;
                                 
                              }
                              .pic-01{
                                  z-index: 99;
                                  transition:.3s;
                                  opacity: 1;
                              }
                              .pic-02{
                                z-index: 1;
                                transition:.3s;
                            }
                              
                          }

                      }
                  }
                  
              }
            }
        }
    }
}