@import "variables.scss";
@import "reset.scss";

section.section_content{
    margin-top: 3rem;
    @include mobile_width{
        margin-top: 22vh;
    }
    .container{
        .row{
            .col-md-12{
                h2{
                    font-size: 25px;
                    font-weight: 800;
                    
                }
                ul{
                    li{
                        margin-top:2px;
                    }
                }
                span{
             
                    margin-right: 5px;

                }
              
            }
        }
    }
}
.table-wrap{
    max-width: 450px;
    table{
        border: solid 1px rgba(0,0,0,.2);
        width: 100%;
      
        
        
        
    }
    td,th{
            border: solid 1px rgba(0,0,0,.2);
    
        }
    th{
        background-color: #2e90d1;
        color: white;
        text-align: center;
    ;
        
    }
    
}
ul{
    max-width: 500px;
    li{
        margin: 10px 0;
    }
}