//title text animation

$main_blue: #3784a8;
$title_blue: rgb(38, 74, 121);
$dark_blue: #2b4b63;
$deep_white: rgb(211, 211, 211);
$sidebar_blue: #3f5469;
$fullpage_color: rgba(255, 255, 255, 0.3);
//rwd 變數設定
$pc_media: 1800px;

$pad_media: 769px;
$mobile_media: 540px;

$pad_pro_media: 1100px;

$gray: #dddddd;
$white: #fff;
$black: #161616;
$card_btn: #00a7e1;

// rwd mixin
@mixin pc_width() {
    @media screen and (max-width: $pc_media) {
        @content;
    }
}

@mixin pc_width_second() {
    @media screen and (max-width: $pc_second_media) {
        @content;
    }
}

@mixin pad_width() {
    @media screen and (max-width: $pad_media) {
        @content;
    }
}

@mixin mobile_width() {
    @media screen and (max-width: $mobile_media) {
        @content;
    }
}

@mixin pad_pro_width() {
    @media screen and (max-width: $pad_pro_media) {
        @content;
    }
}

@mixin magnetic($timeing) {
    transition: all $timeing cubic-bezier(0.615, 0, 0.07, 1);
}

//繼承

%display_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%bgc {
    background-position: center center;
    background-size: cover;
    width: 100%;
}

%display_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%bgImg {
    width: 100%;
    background-position: center center;
    background-size: cover;
}

%fakeImg {
    background-color: #5290bb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
html,body{
    animation: loading 1s ;
    @keyframes loading {
        0% {
            opacity: 0;
            filter: blur(8px);
        }

        100% {
            opacity: 1;
            filter: blur(0);
        }
    }
}
.carousel-indicators{
    z-index: 5!important;

     >li {
    border-radius: 50% !important;;
    width: 10px !important;
    height: 10px !important;
    background-color: rgb(240, 166, 56) !important;
    
  }
}
section.seciton_navgation {
    overflow: hidden;

    .container-fluid {
        .row {
         
            .col-md-12 {
                .navgation_wrap {
                    padding-left: 5rem;

                    @include mobile_width {
                        padding-left: 1rem;
                    }

                    a {
                        transition: 0.2s;
                        color: #333;
                        margin: 0 0.2rem;
                        font-size: 14px;
                        
                        &:hover{
                          color: rgb(46, 166, 221);
                        }
  
                        span {
                            margin: 0 0.2rem;
                        }
                    }
                }
            }
        }
    }
}

header {
  margin-top: -55px;
  @include pad_width{
      margin-top: 35px;
  }
  @include mobile_width{
      margin-top: 80px;
  }
  #carouselExampleIndicators{
    .carousel-inner{
        .carousel-item{
            img{
                width: 100%;
            }
            .desk_img{
                display: block;
                @include pad_pro_width{
                    display: none;
                }
                @include mobile_width{
                    display: none;
                }
            }
            .pad_img{
                display: none;  
                @include pad_pro_width{
                    display: block;
                }
                @include mobile_width{
                    display: none;
                }
            }
            .mobile_img{
                 display: none;
             
                @include mobile_width{
                    display: block;
                }
            }
        }
    }
  }
    
}

.close_nav {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 6%;
    right: 5%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    z-index: 99999;

    @include mobile_width {
        top: 10%;
    }

    div {
        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 4px;
            background: #fff;
            transition: background 0.5s ease;
            transform: rotate(-45deg);
        }

        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 4px;
            background: #fff;
            transition: background 0.5s ease;
            transform: rotate(45deg);
        }
    }

    &:hover {
        div {
            &::before {
                background: rgb(3, 178, 209);
            }

            &::after {
                background: rgb(3, 178, 209);
            }
        }
    }
}
.slick-next:before {
    margin-top: -2px;
    content: "→" !important;
    color: #00a7e1;
    font-size: 30px;
    font-weight: 700;
    z-index: 999999;
}

.slick-prev:before {
    margin-top: -2px;
    content: "←" !important;
    color: #00a7e1;
    font-size: 30px;
    font-weight: 700;
    z-index: 999999;

}
section.section_others {
    padding: 5vmin 0;

    .container-fluid {
        padding: 0 15vmin;
        @include mobile_width{
            padding: 0 3vmin;
        }
        .row {
            .col-md-12 {
                
                .slick-initialized .slick-slide{
                    overflow: hidden;
                }
                h2 {
                    font-weight: 400;
                }

                display: flex;
               

                @include mobile_width {
                    padding: 0 25px;
                }

                .txt {
                    @extend %display_center;
                }

                .slick-prev {
                    content: "→";
                    display: block;
                    height: 15px;
                    margin-left: 30vmin;
                    width: 40px;
                    height: 40px;
                   
                    z-index: 9999999;
                    border-radius: 100%;
                    opacity: 0;
                    margin-top: -5vmin;

                    @include mobile_width {
                        margin-top: -30vmin;
                    }
                }

                .slick-next {
                    content: "";
                    display: block;
                    height: 40px;
                    width: 40px;
                    margin-right: 30vmin;
                  
                    border-radius: 100%;
                    opacity: 0;
                    margin-top: -5vmin;

                    @include mobile_width {
                        margin-top: -30vmin;
                    }

                    .slick-next::before {
                        content: "";
                        display: block;
                        height: 40px;
                        width: 40px;
                        background-color: red;
                        position: absolute;
                        left: 20vmin;
                        z-index: 99999999;
                    }
                }

                .slick-slider,.slick-slider-01,.slick-slider-02 {
                    width: 100%;
                    overflow: hidden;
                    position: relative;



                    .slick-dots {
                    position: absolute;
                    right: 0;
                    top:15px;

                    display: flex;
                    justify-content: center;
                    
                    margin: 0;
                    width: auto;
                    
                    
                    list-style-type: none;
                    
                        li {
                            margin: 0 0.15rem;
                        }
                    
                        button {
                            display: block;
                            width: .6rem;
                            height: .6rem;
                            padding: 0;
                            
                            border: solid 1px #2e90d1;
                            border-radius: 100%;
                            background-color: transparent;
                            
                            text-indent: -9999px;
                        }
                    
                        li.slick-active button {
                            background-color: #2e90d1;
                        }
                    
                    }

                    &:hover .slick-prev {
                        opacity: 1;
                    }

                    &:hover .slick-next {
                        opacity: 1;
                    }
                }

                .slick-slider .element {
                    width: 100%;
                    


                    display: inline-block;

                    overflow: hidden;

        
                    


                    .product_item {
                        padding: 0.4rem 0.1rem;
                        padding-bottom: 1rem;
                        width: 100%;
                       
                      

                        transition: 0.5s;
                        overflow: hidden;

                        @include mobile_width {
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-direction: column;
                            padding-bottom: 3.5rem
                        }



                        .img_wrap {
                            
                            overflow: hidden;
                            position: relative;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba(206, 206, 206, 0.1);

                            padding: 0 2rem;


                            img {

                                width: 90%;
                                margin: 1.5rem 0;
                                margin-bottom: 0;
                                transition: .3s;

                                transition: 0.5s;
                                transform: scale(1);
                                &:hover{
                                    transform: scale(1.05);
                                }

                                @include pad_pro_width {
                                    width: 80%;
                                }

                                @include pad_width {
                                    width: 90%;
                                }

                                @include mobile_width {
                                    width: 60%;
                                }
                            }

                            .mark {
                                background-color: #d61009;
                                color: white;
                                padding: 0.1rem 5rem;
                                letter-spacing: 0.3rem;
                                position: absolute;
                                transform: rotate(-45deg);
                                left: -70px;
                                top: 10px;
                            }

                            .mark_hot {
                                background-color: #f7c13b;
                            }
                        }

                        .wrap {
                            height: 3rem;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;

                            .btn {
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: $card_btn;
                                position: relative;
                                border-radius: 20px;
                                box-shadow: 0px 0px 5px rgba(45, 133, 184, 0.3);
                                padding: 0.3rem 3rem;
                                margin-top: 15px;

                                .icon-add {
                                    width: 10%;
                                    left: 6%;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    position: absolute;
                                }

                                &::before {}
                            }
                        }

                        .txt {
                            margin-top: 1vmin;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-direction: column;
                            overflow: hidden;
                            padding: 0 1rem;
                            .top_txt {
                                height: 5.2rem;

                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                flex-direction: column;

                                padding: 0 0.1rem;

                                p {
                                    color: #00a7e1;
                                    margin: 0;
                                    
                                }

                                .model {
                                    margin: 0;
                                    font-size: 18px;
                                    color: #00a7e1;
                                    margin-top: 0.5rem;
                                }
                            }

                            .bottom_txt {
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                flex-direction: column;

                                height: 6rem;
                             

                                span {
                                    font-weight: 700;
                                    margin-right: 7px;
                                }

                                p {
                                    color: rgb(22, 22, 22);
                                    font-size: 16px;
                                    margin: 0;
                                    text-align: left;

                                
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
section.section_product01 {

    opacity: 1;
    filter: blur(0);
    animation: loading 1.5s;

    @keyframes loading {
        0% {
            opacity: 0;
            filter: blur(8px);
        }

        100% {
            opacity: 1;
            filter: blur(0);
        }
    }

    .container {


        .row {
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 1.5rem 0;

            .col-xl-3 {
                a:hover {
                    text-decoration: none;
                }

                a {
                    color: #333;
                }

                .wrap {
                    width: 100%;

                    padding: 0.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    position: relative;

                    &:hover {
                        cursor: pointer;
                    }

                    &:hover .plus {
                        display: flex;
                    }

                    .plus {
                        background-color: rgb(37, 151, 226);
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 100%;
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        display: none;
                    }

                    img {
                        width: 90%;
                        margin: 0.5rem;
                    }

                    .txt {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        h2 {
                            font-size: 15px;
                            font-weight: 400;
                            color: black im !important;
                        }

                        p {
                            color: rgb(128, 128, 128);
                            text-align: center;
                            font-weight: 100;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
section.section_card{
    margin-top: 20vh;
    a{
        text-decoration: none;
        color: white;
    }
    .container{
        .top-text{
            .col-md-6,.col-md-12{
                display: flex;
                align-items: center;
                @include mobile_width{
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: start;
                    padding: .5rem 15px;
                    
                }
       
                
                .circle-line{
                    padding: 1rem;
                    border: 1px solid #000;
                    border-radius: 100%;
                    width: 2.2rem;
                    height: 2.2rem;
                    font-size: 80%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
                a{
                    &:hover span{
                        margin-left: 2rem;
                        

                    }
                    span{
                        margin-left: 1rem;
                        transition: .4s;
                        
                    }
                }
            }
        }
        .row{
          .col-md-6{
         
          }
          .left{
              .txt-wrap{
               
                 .wrap{
                     border: 4px solid white;
                     .follow-btn{
                         border: solid 1px #fff;
                      
                         display: inline-block;
                         color: #fff;
                         position: relative;
                         overflow: hidden;
                         width: 40%;
                         height: 2rem;
                         &:hover{
                             background-color: rgb(248, 248, 248);
                         }
                         &:hover .txt-02{
                            color: rgb(25, 154, 240);
                            top:50%;
                        }
                        &:hover .txt-01{
                            color: rgb(25, 154, 240);
                            top:-10vh;
                        }
                         .txt-01{
                             position: absolute;
                             left: 50%;
                             top: 50%;
                             transform: translate(-50%,-50%);
                             transition: .4s;

                         }
                         .txt-02{
                             position: absolute;
                             left: 50%;
                             top: 10vh;
                             transform: translate(-50%,-50%);
                             transition: .4s;
                             
                        }
                     }

                 }
              }
          }
          .right{
              img{
                  width: 100%;
              }
          }
          .col-md-12{

              .card-wrap{
                   width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                  .card{
                        width: 350px;
                        border: 1px solid rgba(0,0,0,.2);

                        padding-bottom: 2rem;
                        margin: 25px 0;
                      .img-wrap{
                        overflow: hidden;
     

                    
                    position: relative;
                    transition: .5s;
                        transform: scale(1);
                        &:hover img{
                        transform: scale(0.98);
                        filter: grayscale(20%);
                        }
                    img{
                        width:100%;
                        position: relative;
                        transition: .5s;
                    
                    }
                    .box{
                        
                        background-color: rgba(0,0,0,.2);
                        width: 350px;
                        bottom: 0;
                        position: absolute;
                        color: white;
                        padding: 25px;
                    
                        >div{
                        font-size: 14px;
                        margin-top: 1rem;
                        border-left: 3px solid orange;
                        
                        
                        padding-left: 6px;
                        display: flex;
                        justify-content: space-between;
                        P{
                            margin: 0;
                        }
                    

                    
                        

                        }
                        
                        
                    }
                    .bottom-text{
                        height: 60vmin;
                        .category{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                          
                            p{
                                font-weight: 800;
                            }
                        }
                    }
                    
                    }
                      
                  }


              }
          }
        }
    }
}