//rwd 變數設定
$pc_media: 1800px;

$pad_media: 769px;
$mobile_media: 540px;

$pad_pro_media: 1100px;

// rwd mixin
@mixin pc_width() {
  @media screen and (max-width: $pc_media) {
    @content;
  }
}
@mixin pc_width_second() {
  @media screen and (max-width: $pc_second_media) {
    @content;
  }
}
@mixin pad_width() {
  @media screen and (max-width: $pad_media) {
    @content;
  }
}
@mixin mobile_width() {
  @media screen and (max-width: $mobile_media) {
    @content;
  }
}

@mixin pad_pro_width() {
  @media screen and (max-width: $pad_pro_media) {
    @content;
  }
}

@mixin magnetic($timeing) {
  transition: all $timeing cubic-bezier(0.615, 0, 0.07, 1);
}
//繼承

%display_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%bgc {
  background-position: center center;
  background-size: cover;
  width: 100%;
}

%display_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%bgImg {
  width: 100%;
  background-position: center center;
  background-size: cover;
}
%fakeImg {
  background-color: #5290bb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#wrapper {
  width: 100%;
  overflow: hidden;
}
#wrap {
  opacity: 1;
  filter: blur(0px);
  animation-delay: 0.5s;
  animation: loading 2s;
  @keyframes loading {
    0% {
      opacity: 0;
      filter: blur(8px);
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
}
section.seciton_navgation {
  .container-fluid {
    .row {
      .col-md-12 {
        .navgation_wrap {
          padding-left: 5rem;
          @include mobile_width {
            padding-left: 1rem;
          }
          a {
            transition: 0.1s;
            color: #333;
            margin: 0 0.2rem;
            font-size: 14px;

            span {
              margin: 0 0.2rem;
            }
          }
          a:hover {
            text-decoration: none;
            color: rgb(146, 146, 146);
          }
        }
      }
    }
  }
}
.top_wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0 15vmin;

  @include pad_pro_width() {
    padding: 0;
  }
  @include pad_width {
    flex-direction: column;

    padding: 0 1rem;
  }

  .left {
    width: 50%;
    padding: 0 1rem;
    @include pad_width {
      width: 100%;
      padding: 0;
    }
    h1 {
      margin-bottom: 0;
      line-height: 1;
    }
    h2 {
      color: grey;
    }
    .product__carousel {
      display: block;
      max-width: 700px;
      margin: 1em auto 3em;

      a {
        display: block;
        margin-bottom: 15px;
      }
      .gallery-top {
        border: 1px solid #ebebeb;
        border-radius: 3px;
        margin-bottom: 5px;
        height: 400px !important;
        .swiper-slide {
          position: relative;
          overflow: hidden;

          a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            img {
              width: 60%;
              height: 60%;
              object-fit: contain;
            }
          }
          .easyzoom-flyout {
            img {
              min-width: 100%;
              min-height: 100%;
            }
          }
        }
        .swiper-button-next {
          display: block;
          content: "→";

          @include mobile_width {
            display: none;
          }
        }
        .swiper-button-prev {
          display: block;
          @include mobile_width {
            display: none;
          }
        }
      }

      .gallery-thumbs {
        .swiper-slide {
          border: 1px solid rgb(160, 20, 216);
          position: relative;
          transition: border 0.15s linear;
          border: 1px solid #ebebeb;
          border-radius: 3px;
          cursor: pointer;
          overflow: hidden;
          height: calc(100% - 2px);
          img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
          }
        }
        .swiper-slide.swiper-slide-thumb-active {
          border-color: #000;
        }
      }
    }
  }
  .right {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    @include pad_width {
      width: 100%;
      padding: 0 1.5rem;
    }
    @include mobile_width {
      padding: 0;
    }
    .txt_wrap {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      h1 {
        font-size: 26px;
        font-weight: 500;
      }
      h5 {
        color: rgb(35, 145, 236);
        margin-top: 2rem;
      }

      p {
        font-size: 14px;
        color: rgb(78, 78, 78);
        font-weight: 100;
      }
      ul {
        padding: 0;

        li {
          color: #333;
          margin: 0.5rem 0;
          span {
            background-color: rgb(44, 206, 44);
          }
        }
      }
      .btn_wrap {
        display: flex;
        border: 1px solid #000;
        width: 100%;
      }
      .contact_btn {
        background-color: rgb(19, 117, 197);
        color: white;
        padding: 0.5rem 2rem;
        width: 15rem;
        text-align: center;
        @include pad_width {
          width: 50%;
        }
        @include mobile_width {
          width: 100%;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
section.section_others {
  .container-fluid {
    .row {
      .col-md-12 {
        @include mobile_width {
          padding: 0 25px;
        }
        .txt {
          @extend %display_center;
        }

        .slick-prev {
          content: "→";
          display: block;
          height: 15px;
          margin-left: 30vmin;
          width: 40px;
          height: 40px;
          background-color: rgb(20, 155, 196);
          z-index: 9999999;
          border-radius: 100%;
          opacity: 0;
          margin-top: -5vmin;
          @include mobile_width {
            margin-top: -30vmin;
          }
        }
        .slick-next {
          content: "→";
          display: block;
          height: 40px;
          width: 40px;
          margin-right: 30vmin;
          background-color: rgb(20, 155, 196);
          border-radius: 100%;
          opacity: 0;
          margin-top: -5vmin;
          @include mobile_width {
            margin-top: -30vmin;
          }
          .slick-next::before {
            content: "←";
            display: block;
            height: 40px;
            width: 40px;
            background-color: red;
            position: absolute;
            left: 20vmin;
            z-index: 99999999;
          }
        }
        .slick-slider {
          width: 100%;
          overflow: hidden;

          &:hover .slick-prev {
            opacity: 1;
          }
          &:hover .slick-next {
            opacity: 1;
          }
        }
        .slick-slider .element {
          width: 100%;

          border-radius: 8px;
          display: inline-block;

          overflow: hidden;
          border: 1px solid rgba(41, 41, 41, 0.1);
          margin: 0 6px;

          .wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0;
            .pic {
              width: 100%;
              height: 35vmin;
              overflow: hidden;
              position: relative;
              @include mobile_width {
                height: 75vmin;
              }
              &::after {
                transition: 0.5s;
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                display: block;
                width: 100%;
                height: 35vmin;
                background-color: rgba(0, 0, 0, 0.15);
                @include mobile_width {
                  height: 75vmin;
                }
              }

              img {
                width: 100%;
                transform: scale(1);
                transition: 0.4s;
              }
              &:hover img {
                transform: scale(1.06);
              }
              &:hover:after {
                background-color: transparent;
              }
            }
            .txt {
              width: 100%;

              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              padding: 1rem;
              .top {
                font-weight: 800;
                padding-bottom: 1rem;
                height: 8vmin;
                @include mobile_width {
                  height: 15vmin;
                }
              }
              .bottom {
                padding-top: 1rem;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                font-size: 14px;
                color: #333;
                text-align: center;
                height: 20vmin;
                @include mobile_width {
                  height: 30vmin;
                }
              }
            }
          }
        }
      }
    }
  }
}
section.section_toggle {
  padding: 10vmin 0;
  .container-fluid {
    .row {
      .col-md-12 {
        display: flex;
        justify-content: center;
        align-items: center;
        #accordionExample {
          width: 90%;

          .card {
            .card-header {
            }
          }
        }
      }
    }
  }
}
