section.seciton_navgation {
  .container-fluid {
    .row {
      .col-md-12 {
        .wrap {
          padding-left: 5rem;

          a {
            transition: 0.1s;
            color: #333;
            margin: 0 0.2rem;
            font-size: 14px;

            span {
              margin: 0 0.2rem;
            }
          }
          a:hover {
            text-decoration: none;
            color: rgb(146, 146, 146);
          }
        }
      }
    }
  }
}
