@import "~bootstrap/scss/bootstrap";

@import "nav.scss";
@import "footer.scss";

.wrapper {
  overflow: hidden;
}

//title text animation

$main_blue: #3784a8;
$title_blue: rgb(38, 74, 121);
$dark_blue: #2b4b63;
$deep_white: rgb(211, 211, 211);
$sidebar_blue: #3f5469;
$fullpage_color: rgba(255, 255, 255, 0.3);
//rwd 變數設定
$pad_media: 769px;
$mobile_media: 540px;
$pad_pro_media: 2000px;
$gray: #dddddd;
$white: #fff;
$black: #161616;
// rwd mixin
@mixin pad_width() {
  @media screen and (max-width: $pad_media) {
    @content;
  }
}
@mixin mobile_width() {
  @media screen and (max-width: $mobile_media) {
    @content;
  }
}
@mixin pad_pro_width() {
  @media screen and (max-width: $pad_pro_media) {
    @content;
  }
}

@mixin magnetic($timeing) {
  transition: all $timeing cubic-bezier(0.615, 0, 0.07, 1);
}
//繼承

%display_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%bgc {
  background-position: center center;
  background-size: cover;
  width: 100%;
}

%display_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%bgImg {
  width: 100%;
  background-position: center center;
  background-size: cover;
}
%fakeImg {
  background-color: #5290bb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

* {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrap {
  width: 100%;

  background-color: transparent;
  margin: 0 auto;
  padding: 20px;
  padding-top: 60px;
  display: flex;
  .quote {
    margin-top: 0px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 24px;
    color: #4f5664;

    text-align: center;
    overflow: hidden;
    position: relative;
    .news_line {
      width: 40vw;
      height: 1px;
      background-color: #333;
    }
  }
}

.split-line {
  overflow: hidden;
}
//取消col 之間的間隔00000
.margin-top {
  margin-top: 10vmin;
}

.no-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#category {
  width: 35vw;
  height: 80vh;
  overflow-y: scroll;
  position: fixed;
  z-index: 99999;
  right: 0;
  top: 15vh;
  background-color: rgb(245, 245, 245);
  display: none;

  .title {
    color: $deep_white;
    background-color: $sidebar_blue;
    @extend %display_center;
    padding: 1.2rem;
  }
  .content {
    padding: 2rem;
    .sidebar_zensor {
      .sidebar_pro_ouside_wrap {
        margin-left: 1rem;
        .sidebar_pro_ouside {
          color: rgb(109, 109, 109);
          margin: 1rem 0;
        }
      }
      .sidebar_pro_inside_wrap {
        margin-left: 1rem;

        .sidebar_pro_inside {
          color: rgb(109, 109, 109);
          margin: 0.5rem 0;
        }
      }
    }
  }
}

.content_txt {
  color: rgb(211, 211, 211);
}
.second_title {
  color: rgb(63, 63, 63);
}
.link-txt {
  text-decoration: none !important;
  :hover {
    cursor: pointer;
  }
}
.link-blue {
  color: $main_blue;
}
.btn {
  padding: 0.3rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}
.btn-blue {
  background-color: #4ab6db;
  color: white;
}

.btn-understand {
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #5290bb;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-color: rgba(255, 255, 255, 0.1);
  ::-webkit-scrollbar {
    display: none !important;
  }
}

header {
  nav {
    width: 100%;
    position: fixed;
    z-index: 99999999;
    background-color: rgba(255, 255, 255, 0.1);

    .col-md-12 {
      ul {
        height: 100%;

        padding: 1rem 0;
        @extend %display_center;
        justify-content: flex-end;
        li {
          margin: 0 0.3rem;
          color: white;
        }
        .product_category {
          :hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

//carousel
.oakslider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  color: #fff;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.oakslider__ui {
  position: relative;
  z-index: 2;

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  .oakslider__controls {
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
    padding: 1.2rem 0;
  }

  .oakslider__arrow {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #fff;
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.oakslider__navpoint {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 900;
  opacity: 0;

  &:first-of-type {
    .oakslider__timer {
      width: 95px;
    }
    .oakslider__label {
      opacity: 1;
    }
  }

  .oakslider__label {
    opacity: 0;
    font-weight: 400;
  }

  .oakslider__timer {
    position: relative;
    width: 55px;
    height: 1px;
    background: rgba(#fff, 0.5);
    margin: 0 5px;
    overflow: hidden;

    .timer__progress {
      position: absolute;
      top: 0;
      left: 0;
      background: transparent;
      height: 1px;
      width: 100%;
      transform: translateX(-100%);
    }
  }
}

.oakslider__slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;

  &.slide--active {
    display: block;
  }
}

.slide__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .img {
    background-position: center center;
    background-size: cover;

    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.slide__container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide__content {
  height: 100vh;

  position: relative;
  @extend %display_center;
  padding-top: 100px;
  width: 100%;
  font-family: sans-serif;
  h2 {
    color: rgb(77, 77, 77);
    position: absolute;
    left: 12.5%;
    top: 45%;
    font-size: 3rem;
    font-weight: 900;
    font-family: "Anton", sans-serif;
  }
  .txt_left {
    width: 50%;
    border: 1px solid rgb(255, 255, 255);
    @extend %display_center;
    flex-direction: column;
  }
  .txt_right {
    width: 50%;
    border: 1px solid rgb(255, 255, 255);
    p {
      color: $deep_white;
    }
  }
}

.slide__title {
  position: absolute;
  font-size: 24px;
  max-width: 650px;
  line-height: 1.2;
  font-weight: normal;
  left: 10%;
  bottom: 30px;

  span {
  }
}

.slide__link {
  position: absolute;
  color: $main_blue;
  font-size: 24px;
  max-width: 650px;
  line-height: 1.2;
  font-weight: normal;
  left: 30%;
  bottom: 30px;
}

section.section_about {
  background-color: #0e1b2e;
  .row {
    .col-md-6 {
      .txt {
        height: 100%;
        border: 1px solid rgb(255, 255, 255);
        padding: 2.3rem;
      }
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
        width: 100%;
        position: relative;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform-origin: left;
      }

      .reveal {
        visibility: hidden;
        position: relative;
        width: 100%;
        height: 100%;

        overflow: hidden;
      }
    }
  }
}

section.section_print {
  .container {
    .row {
      .col-md-12 {
        @extend %display_center;
        .print_txt {
          @extend %display_center;
          flex-direction: column;
          h3 {
            font-size: 1.2rem;
            color: $main_blue;
          }
        }
      }
      .col-md-12 {
        @extend %display_center;

        .carousel-wrap {
          margin: 90px auto;
          padding: 0 5%;
          width: 80%;
          position: relative;
        }

        /* fix blank or flashing items on carousel */
        .owl-carousel .item {
          position: relative;
          z-index: 100;
          -webkit-backface-visibility: hidden;
        }

        /* end fix */
        .owl-nav > div {
          margin-top: -26px;
          position: absolute;
          top: 50%;
          color: #cdcbcd;
        }

        .owl-nav i {
          font-size: 52px;
        }

        .owl-nav .owl-prev {
          left: -30px;
        }

        .owl-nav .owl-next {
          right: -30px;
        }
        p {
          margin: 0 auto;
        }
      }
      .col-md-12 {
        .container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 60vh;
          width: 100%;
          position: relative;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transform-origin: left;
        }

        .reveal {
          visibility: hidden;
          position: relative;
          width: 100%;
          height: 100%;

          overflow: hidden;
        }
      }
    }
  }
}

header {
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url(https://images.pexels.com/photos/4149041/pexels-photo-4149041.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 100vh;

  .container-fluid {
    height: 100vh;
    .row {
    }
  }
}

section.section_chemistry {
  background-color: rgb(230, 230, 230);

  .container {
    .row {
      .col-xl-3 {
        padding: 0.2rem;
        .product_item {
          padding: 0.8rem 1.7rem;
          width: 100%;
          border: 0.1px solid rgb(233, 233, 233);
          background-color: #fff;
          transition: 0.5s;

          &:hover {
            box-shadow: 5px 5px 15px #333;
            position: absolute;
            z-index: 9;
          }

          .img_wrap {
            position: relative;
            height: 30vmin;

            overflow: hidden;

            @include pad_pro_width {
              height: 32vmin;
            }
            @include mobile_width {
              height: 60vmin;
            }
            img {
              width: 100%;
              margin: 0;
              position: absolute;
              top: 0;
              left: 0;
              transition: 0.5s;
              @include pad_pro_width {
                width: 80%;

                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              @include pad_width {
                width: 90%;

                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
            .img01 {
              z-index: 19;
              opacity: 0;
            }
            .img02 {
              z-index: 29;
              opacity: 1;
            }

            // &:hover .img01 {
            //   opacity: 1;
            // }
            // &:hover .img02 {
            //   opacity: 0;
            // }
          }
          .wrap {
            .btn {
              text-decoration: none;
              color: $main_blue;
              text-transform: uppercase;
              position: relative;
              margin-left: 2em;
              margin-top: -3rem;
              padding: 5px 23px 5px 10px;
              transition: all 0.6s ease;
              font-size: 1rem;
              font-family: "Barlow Condensed", sans-serif;
              &:before {
                content: "";
                position: absolute;
                z-index: -1;
                left: -3em;
                top: 0;
                bottom: 0;
                margin: auto;
                background: $main_blue;
                width: 2.6em;
                height: 2.6em;
                border-radius: 5em;
                @include magnetic(0.6s);
              }
              &:after {
                color: $white;
                content: "+";
                font-size: 2.6em;
                position: absolute;
                z-index: -1;
                left: -1.2em;
                top: -0.5em;
                bottom: 0;
                margin: auto;
                width: 1.1em;
                height: 1.1em;
              }

              &:hover {
                transition: all 0.6s ease;
                transition-delay: 0.3s;
                color: #fff;
                &:before {
                  @include magnetic(0.6s);
                  width: 140%;
                }
                &:after {
                }
              }
            }
          }
          .txt {
            margin-top: 1vmin;
            h5 {
              color: rgb(88, 88, 88);
              transition: 0.3s;
              font-size: 1rem;
              font-family: "Barlow Condensed", sans-serif;
              &:hover {
                color: rgb(29, 159, 211);
              }
            }
            p {
              color: $main_blue;
              font-size: 1rem;
              margin: -0.2rem 0;
            }
          }
        }
      }
    }
  }
}

section.section_mcp {
  padding: 0 5rem;
  .container-fluid {
    background-color: rgba(185, 185, 185, 0.1);

    .row {
      .col-md-12 {
        @extend %display_center;
        padding: 3rem 5vw;
        .mcp_txt {
          padding: 3rem;
          width: 60%;
          @extend %display_center;
          flex-direction: column;
          h3 {
            font-size: 1.2rem;
            color: $main_blue;
          }
        }
        .container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 60vh;
          width: 100%;
          position: relative;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transform-origin: left;
        }

        .reveal {
          visibility: hidden;
          position: relative;
          width: 100%;
          height: 100%;

          overflow: hidden;
        }
      }
    }
  }
}

section.section_others {
  .container-fluid {
    .row {
      .col-md-12 {
        @extend %display_center;
        .othersProduct_wrap {
          width: 80%;
          @extend %display_center;
          .item {
            width: 30%;
            height: 60vh;
            background-color: $main_blue;
            color: white;
            margin: 0 0.5rem;
            @extend %display_center;
          }
        }
        .bottom_txt {
          width: 100%;

          display: flex;
          justify-content: center;
          align-items: flex-end;
          flex-direction: column;
          padding-right: 5rem;
        }
      }
    }
  }
}

section.section_news {
  padding: 5rem;
  @include mobile_width {
    padding: 15px;
  }
  h2 {
    color: rgb(119, 119, 119);
  }
  .container-fluid {
    .row {
      .col-xl-7 {
        .row {
          .col-xl-6 {
            position: relative;
            overflow: hidden;

            .content {
              width: 100%;
              height: 100%;

              position: absolute;
              z-index: 2;
              padding: 0 2rem;
              display: flex;

              align-items: center;
              top: 0;
              left: 0;
              .txt {
                h3 {
                  font-weight: 400;
                  color: white;
                  font-size: 2.3rem;
                  font-family: "Barlow Condensed", sans-serif;
                  line-height: 2.4rem;
                }
                .btn {
                  width: 5.5rem;
                  padding: 0.2rem;
                  color: white;
                  border: 1px solid rgb(255, 255, 255);
                  display: flex;
                  font-size: 14px;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
            .container {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              height: 60vh;
              width: 100%;
              position: relative;

              padding: 0.2rem;
              @include pad_width {
                height: 41vh;
              }

              .reveal {
                visibility: hidden;
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;

                img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  transform-origin: left;
                  transform: scale(1);
                  &:hover {
                    transform: scale(1.2);
                  }
                }
              }
            }
          }
        }
      }
      .col-xl-5 {
        .item_wrap {
          width: 100%;

          height: 121vh;
          overflow-y: scroll;
          @include pad_pro_width {
            margin-top: 35px;
          }

          .item {
            background-color: #fff;
            width: 100%;
            display: flex;
            padding: 1rem;
            margin-bottom: 1rem;
            border: 1px solid rgb(216, 216, 216);
            @include mobile_width {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            }

            img {
              width: 40%;
              @include mobile_width {
                width: 100%;
              }
            }
            .txt {
              width: 60%;
              padding: 1rem;
              @include mobile_width {
                width: 95%;
              }
              .date {
                display: flex;
                justify-content: space-between;

                p {
                  color: rgb(122, 122, 122);
                }
              }
            }
          }
        }
      }
    }
  }
}
