//title text animation

$main_blue: #3784a8;
$title_blue: rgb(38, 74, 121);
$dark_blue: #2b4b63;
$deep_white: rgb(211, 211, 211);
$sidebar_blue: #3f5469;
$fullpage_color: rgba(255, 255, 255, 0.3);
$navbar_txt: rgb(255, 255, 255);
//rwd 變數設定
$pc_media: 1800px;

$pad_media: 769px;
$mobile_media: 540px;

$pad_pro_media: 1100px;

$gray: #dddddd;
$white: #fff;
$black: #161616;
$card_btn: #00a7e1;

// rwd mixin
@mixin pc_width() {
    @media screen and (max-width: $pc_media) {
        @content;
    }
}

@mixin pc_width_second() {
    @media screen and (max-width: $pc_second_media) {
        @content;
    }
}

@mixin pad_width() {
    @media screen and (max-width: $pad_media) {
        @content;
    }
}

@mixin mobile_width() {
    @media screen and (max-width: $mobile_media) {
        @content;
    }
}

@mixin pad_pro_width() {
    @media screen and (max-width: $pad_pro_media) {
        @content;
    }
}

@mixin magnetic($timeing) {
    transition: all $timeing cubic-bezier(0.615, 0, 0.07, 1);
}

//繼承

%display_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%bgc {
    background-position: center center;
    background-size: cover;
    width: 100%;
}

%display_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%bgImg {
    width: 100%;
    background-position: center center;
    background-size: cover;
}

%fakeImg {
    background-color: #5290bb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blue{
    color:#2e90d1
}
.txt-center{
    text-align: center;
}
.txt-left{
    text-align: left;
}
